/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290@taazr/gems/compass-0.12.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, sass/screen.scss */
body {
  background-color: white;
  font: 14px helvetica, arial, clean, sans-serif;
  text-align: center;
}

/* line 19, sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 800;
}

/* line 24, sass/screen.scss */
h1 {
  margin-bottom: 1em;
}

/* line 28, sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 32, sass/screen.scss */
a {
  color: #9b2629;
  text-decoration: none;
}

/* line 40, sass/screen.scss */
a:visited {
  color: #9b2629;
}

/* line 44, sass/screen.scss */
table {
  font-size: inherit;
  font: 100%;
}

/* line 48, sass/screen.scss */
strong {
  font-weight: 800;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 58, sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 63, sass/screen.scss */
ul.posts li {
  line-height: 1.75em;
}

/* line 67, sass/screen.scss */
ul.posts span {
  font-size: 80%;
  color: #999999;
  font-family: 'courier', 'monaco';
}

/* line 73, sass/screen.scss */
p.posts {
  margin-bottom: 2em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 83, sass/screen.scss */
.site {
  font-size: 110%;
  width: 35em;
  text-align: left;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

/* line 91, sass/screen.scss */
.title {
  color: black;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 1.5em;
  text-align: center;
}

/* line 98, sass/screen.scss */
.big {
  font-size: 1.5em;
}

/* line 101, sass/screen.scss */
.about {
  margin-bottom: 2em;
  color: #4d4d4d;
  font-weight: 100;
}
/* line 105, sass/screen.scss */
.about a {
  font-weight: 400;
}

/* line 109, sass/screen.scss */
.site h1 {
  color: #3d3d3d;
}

/* line 112, sass/screen.scss */
.site ul {
  list-style-position: outside;
}

/* line 115, sass/screen.scss */
.site li {
  margin: 1px 0px;
}

/* line 118, sass/screen.scss */
.site .title a {
  color: black;
  text-decoration: none;
}

/* line 123, sass/screen.scss */
.site .title a:hover {
  color: black;
}

/* line 127, sass/screen.scss */
.site .title a.extra {
  color: #aaa;
  text-decoration: none;
  margin-left: 1em;
}

/* line 133, sass/screen.scss */
.site .title a.extra:hover {
  color: black;
}

/* line 137, sass/screen.scss */
.site .meta {
  color: #aaa;
  font-size: 1em;
}

/* line 142, sass/screen.scss */
.site .footer {
  font-size: 80%;
  color: #666;
  margin-top: 2em;
  overflow: hidden;
  font-weight: 100;
}

/* line 150, sass/screen.scss */
.site .footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 155, sass/screen.scss */
.site .footer .contact a {
  color: #207785;
}

/* line 159, sass/screen.scss */
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -0.2em;
  float: right;
}

/* line 165, sass/screen.scss */
.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* line 175, sass/screen.scss */
#post {
  width: 100%;
  margin: 0px auto;
}
/* line 178, sass/screen.scss */
#post strong {
  font-weight: 800;
}

/* standard */
/* line 192, sass/screen.scss */
#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 199, sass/screen.scss */
#post ul,
#post ol {
  margin: 20px 0px;
}
/* line 201, sass/screen.scss */
#post ul li,
#post ol li {
  margin: 10px 0px;
}

/* line 206, sass/screen.scss */
#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 95%;
  padding: 0 .2em;
}

/* line 213, sass/screen.scss */
#post pre code {
  border: none;
}

/* terminal */
/* line 219, sass/screen.scss */
#post pre.terminal {
  border: 1px solid black;
  background-color: #333;
  color: white;
}

/* line 225, sass/screen.scss */
#post pre.terminal code {
  background-color: #333;
}

/* line 229, sass/screen.scss */
#related {
  margin-top: 2em;
}

/* line 233, sass/screen.scss */
#related h2 {
  margin-bottom: 1em;
}
